/* CSS for styling the login form */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('loginPage/login_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    background-color: #675a5a3b;
}

h1 {
    text-align: center;
}

form div {
    margin-bottom: 10px;
}
label{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.497);
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}
